In [7]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle

In [41]:
#load the train model , scaler pickle , one hot encoding 
Model=load_model('Model.h5')

with open('gender.pkl','rb') as file:
    genders=pickle.load(file)
with open('geography.pkl','rb') as file:
    geographys=pickle.load(file)
with open('scaler.pkl','rb') as file:
    scalers=pickle.load(file)

In [42]:
#input data
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male', 
    'Age':40,
    'Tenure':3,
    'Balance':6000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':5000
}

In [17]:
geo_encoder=geographys.transform([[input_data['Geography']]]).toarray()
geo_code_df=pd.DataFrame(geo_encoder,columns=geographys.get_feature_names_out(['Geography']))
geo_code_df

d:\deep learning\ann\venv\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

d:\deep learning\ann\venv\lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([1])

In [44]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,6000,2,1,1,5000

In [46]:
data=pd.concat([input_df.drop('Geography',axis=1),geo_code_df],axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,6000,2,1,1,5000,1.0,0.0,0.0

In [47]:
data['Gender']=genders.transform([[input_data['Gender']]])
data

d:\deep learning\ann\venv\lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,6000,2,1,1,5000,1.0,0.0,0.0

In [48]:
input_scaled=scalers.transform(data)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -1.12240462,
         0.80843615,  0.64920267,  0.97481699, -1.65923237,  1.00150113,
        -0.57946723, -0.57638802]])

In [50]:
predict=Model.predict(input_scaled)
predict[0][0]

1/1 [==============================] - 0s 53ms/step

0.010706559

In [52]:
if predict> 0.5:
    print("The customer is likely to churn.")
else:
    print("The customer is not likely to churn")

The customer is not likely to churn